---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.judul }}</title>
    <link href="aset/bootstrap.min.css" rel="stylesheet" />
    <link href="uno.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container py-3 space-y-3">
      <h1 class="text-center text-2xl uppercase">{{ site.judul }}</h1>
      <input
        type="tel"
        class="form-control"
        placeholder="Etalase nomor?"
        name=""
        value=""
      />
      {% if site.barang %}
      <div class="list-group">
        {% for barang in site.barang %}
        <a href="{{ barang.link }}" target="_blank" class="list-group-item"
          >{{ barang.nama }}</a
        >
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </body>
</html>
